* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #f5f5f5; */
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  width: 80%;
}

.logo {
  /* font-family: 'Chelsea Market', cursive; */
  font-family: "Indie Flower", cursive;
  color: #e24747;
  font-weight: 800;
  font-size: 1.5em;
  /* margin-left: 20px; */
}

.nav-links a {
  text-decoration: none;
  padding: 20px;
}

.nav-links a:hover {
  /* text-decoration: underline; */
  color: #1a1a1a;
}

.nav-links a:link,
.nav-links a:visited {
  color: #4d5054;
}

.sign-in {
  padding: 15px 40px;
  border: 1px solid #b5b5b5;
  border-radius: 50px;
}

.sign-in a:link,
.sign-in a:visited {
  color: #4d5054;
  text-decoration: none;
}

.sign-in:hover {
  background-color: #d3d3d3;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  width: 80%;
  /* justify-content: center;     */
}

.side-content {
  width: 35%;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 60px;
}

.delivery-image {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  /* margin-left: 75px; */
  padding-right: 15px;
  z-index: -1;
}

.message {
  font-size: 64px;
  font-weight: 800;
  line-height: 1.3;
  color: #4d5054;
}

.btn {
  padding: 15px 45px;
  border: 1px solid #b5b5b5;
  border-radius: 50px;
}

.btn-call-to-action {
    color: #ffffff;
    background-color: #e24747;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;

}

.call-to-action {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    padding-right: 50px;
}